<h1 mat-dialog-title>{{ isEditMode ? 'Edit Article' : 'Add New Article' }}</h1>

<div mat-dialog-content>
  <div class="dialog-icon-container">
    <img [src]="currentIconPath" alt="" class="dialog-icon">
  </div>

  <form [formGroup]="articleForm" class="vertical-form">
    <!-- Article Number -->
    <div class="form-row">
      <label class="form-label">Article Number</label>
      <mat-form-field appearance="outline" class="form-field">
        <input matInput formControlName="articleNumber">
      </mat-form-field>
    </div>

    <!-- Name -->
    <div class="form-row">
      <label class="form-label">Name</label>
      <mat-form-field appearance="outline" class="form-field">
        <input matInput formControlName="name" maxlength="30"> 
        <mat-error *ngIf="articleForm.get('name')?.hasError('required')">Required.</mat-error>
        <mat-error *ngIf="articleForm.get('name')?.hasError('maxlength')">
            Name cannot exceed 30 characters.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Article Category -->
    <div class="form-row">
      <label class="form-label">Article Category</label>
      <mat-form-field appearance="outline" class="form-field">
        <mat-select formControlName="articleCategory">
          <mat-option *ngFor="let category of articleCategories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="articleForm.get('articleCategory')?.hasError('required')">Required.</mat-error>
      </mat-form-field>
    </div>

    <!-- Bicycle Category -->
    <div class="form-row">
      <label class="form-label">Bicycle Category</label>
      <mat-form-field appearance="outline" class="form-field">
        <mat-select formControlName="bicycleCategory" multiple>
          <mat-option *ngFor="let category of bicycleCategories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="articleForm.get('bicycleCategory')?.hasError('required')">Required.</mat-error>
      </mat-form-field>
    </div>

    <!-- Material -->
    <div class="form-row">
      <label class="form-label">Material</label>
      <mat-form-field appearance="outline" class="form-field">
        <mat-select formControlName="material">
          <mat-option *ngFor="let mat of materials" [value]="mat">
            {{mat}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="articleForm.get('material')?.hasError('required')">Required.</mat-error>
      </mat-form-field>
    </div>

    <!-- Net Weight -->
    <div class="form-row">
      <label class="form-label">Net Weight (g)</label>
      <mat-form-field appearance="outline" class="form-field">
        <input matInput type="number" formControlName="netWeightInGram">
        <mat-error *ngIf="articleForm.get('netWeightInGram')?.hasError('min')">Must be positive.</mat-error>
      </mat-form-field>
    </div>

    <!-- Dimensions -->
    <div class="form-row">
      <label class="form-label">Length (mm)</label>
      <mat-form-field appearance="outline" class="form-field">
        <input matInput type="number" formControlName="lengthInMm">
      </mat-form-field>
    </div>
    <div class="form-row">
      <label class="form-label">Width (mm)</label>
      <mat-form-field appearance="outline" class="form-field">
        <input matInput type="number" formControlName="widthInMm">
      </mat-form-field>
    </div>
    <div class="form-row">
      <label class="form-label">Height (mm)</label>
      <mat-form-field appearance="outline" class="form-field">
        <input matInput type="number" formControlName="heightInMm">
      </mat-form-field>
    </div>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="articleForm.invalid">
    {{ isEditMode ? 'Update' : 'Save' }}
  </button>
</div>
